/.coverage/
/tests/App/cache
/tests/App/logs
/tools/php-cs-fixer/composer.json
/tools/php-cs-fixer/vendor/
/tmp-phpqa/
/var/
/vendor/
.phpunit.result.cache
.php-cs-fixer.cache
composer.lock

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
